<header class="site-header">
  <div class="container flex between center">
    <a class="brand" href="{{ '/' | relative_url }}">
      <span class="logo">CTRL+ALT+DEFEND</span>
    </a>
    <nav class="nav">
      <a href="{{ '/episodes/' | relative_url }}">Episodes</a>
      <a href="{{ '/about.html' | relative_url }}">About</a>
      <a href="{{ '/guests.html' | relative_url }}">Guests</a>
      <a href="{{ '/media-kit.html' | relative_url }}">Media Kit</a>
      <a href="{{ '/sponsor.html' | relative_url }}">Sponsor</a>
      <a href="{{ '/contact.html' | relative_url }}">Contact</a>
    </nav>
  </div>
</header>
