{%- assign title = page.title | default: site.title -%}
{%- assign desc  = page.summary | default: site.description -%}
<meta property="og:site_name" content="{{ site.title }}"/>
<meta property="og:title" content="{{ title }}"/>
<meta property="og:description" content="{{ desc }}"/>
<meta property="og:type" content="{% if page.layout == 'episode' %}article{% else %}website{% endif %}"/>
{%- if page.hero_image -%}
<meta property="og:image" content="{{ page.hero_image | absolute_url }}"/>
{%- endif -%}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="{{ title }}"/>
<meta name="twitter:description" content="{{ desc }}"/>
